# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Google service account credentials
*.json

# Other sensitive files
*.log
*.sqlite3

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
